{% extends "base.jinja2" %}

{% block main_content %}
  <h2>About James</h2>
<p>
  My name is James Brofos. I am a statistician and machine learning engineer. I studied mathematics and computer science at <a href="http://www.dartmouth.edu">Dartmouth College</a>, where I graduated with a B.A. in 2015. I am interested in Bayesian nonparametrics, deep neural with a probabilistic component, and graphical models.
</p>
<p>
  I now work at <a href="http://www.mitre.org">The MITRE Corporation</a>. We operate federally-funded research and development centers. We assist the United States government with scientific research and analysis, development and acquisition, and systems engineering. My work allows me to leverage machine learning and statistics to benefit the public interest.
</p>
<p>
  This is my website, on which I host my resume and a collection of posts containing my thoughts on such areas as diverse as travel, to machine learning, to media reviews, and more!
</p>
{% endblock %}
