{% extends "base.jinja2" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block main_content %}
  <h2>Login</h2>
  <hr class="featurette-divider">
  {{ wtf.quick_form(form) }}
  <hr class="featurette-divider">
  <h3>Don't have an account? <a href="{{ url_for('signup.page') }}">Sign up</a></h3>
{% endblock %}
