{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }} fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <p align="center">{{ message }}</p>
    </div>
  {% endfor %}
{% endwith %}
